@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents the scroll bar */
}

.App {
  text-align: center;
  position: relative; /* Add this to make absolute positioning relative to .App */
  height: 100vh; /* Use viewport height for full screen */
}

.App-header {
  position: relative; /* Position it absolutely */
  width: 100%; /* Use full width */
  height: 100%;
  top: 0; /* Stick it to the top */
  left: 0; /* Stick it to the left */
  background-color: rgba(0, 0, 0, 0.3); /* Add a background color for clarity */
}

.Canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  image-rendering: auto;
  inset: 0;
  z-index: -1; /* Place it behind other content */
}

.container {
  font-family: "Josefin Sans", cursive;
  flex-direction: column;
  background-color: #020817;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 600px) {
    clip-path: polygon(100% 30%, 100% 50%, 0 70%, 0 50%);
  }
  @media (max-width: 600px) {
    clip-path: inset(40% 20% 40% 20%);
    -webkit-clip-path: inset(40% 20% 40% 20%);
  }
}
